# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Other stuff
bin

# Please dont add this
credentials.json
tokens
config.properties

#test png files
test*.png
