# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Other stuff
bin
.idea
.vscode

# Please dont add this
credentials.json
tokens
config.properties

#test png files
test*.png
images

# ignore me
cardinal.json
